.noticiaBtnMae .noticiasBtn {
.noticiasBtn {
  font-family: "Noticia Text", serif;
  border: 1px solid #5a287f;
  border-radius: 4px;
  padding: 0.7rem 1rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 1rem;
  color: #5a287f;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #5a287f;
}

.spanMarcaTexto {
  position: relative;
}

.spanMarcaTexto .marcaTexto {
  width: 100%;
  display: inline-block;
  background-color: #fff240;
  height: 0.75rem;
  position: absolute;
  z-index: -1;
  bottom: 0.25rem;
}

@media (max-width: 1024px) {
  .spanMarcaTextoBold {
    font-weight: bold;
  }
}

@media (max-width: 1024px) {
  .spanMarcaTextoBold .marcaTextoBold {
    display: none;
  }
}

.tituloDestaque {
  font-size: 2.5rem;
  color: #5a287f;
  font-weight: lighter;
  margin: 0;
}

@media (max-width: 1024px) {
  .tituloDestaque {
    font-size: 2rem;
  }
}

.titulo {
  font-size: 2rem;
  color: #5a287f;
  font-weight: lighter;
  margin: 0;
}

.tituloCard {
  font-size: 1.25rem;
  color: #5a287f;
  font-weight: lighter;
  margin: 0;
}

.tituloNoticia {
  font-family: "Noticia Text", serif;
  font-size: 1.25rem;
  color: #5a287f;
  font-weight: lighter;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 420px) {
  .container {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main, .cenarioContainer, .noticias, .footerBg {
  padding: 4rem 0;
}

@media (max-width: 420px) {
  main, .cenarioContainer, .noticias, .footerBg {
    padding: 3rem 0;
  }
}

.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav .navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .nav .navContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav .navContainer .navLogo {
  display: none;
  margin: 0.625rem 0;
}

.nav .navContainer .navLogo.ativo {
  display: block;
}

.nav .navContainer #logoOriginal {
  width: 11.25rem;
}

.nav .navContainer #logoReduzida {
  width: 7.5rem;
  padding-top: 0.3125rem;
}

.nav .navContainer .navMenu {
  margin-top: 1.375rem;
  padding: 0;
}

@media (max-width: 420px) {
  .nav .navContainer .navMenu {
    display: none;
  }
}

.nav .navContainer .navMenu li {
  display: inline-block;
  text-transform: uppercase;
}

.nav .navContainer .navMenu li + li {
  margin-left: 1rem;
}

.nav .navContainer .navContainer--menuHamburguer {
  display: none;
  text-align: right;
}

@media (max-width: 420px) {
  .nav .navContainer .navContainer--menuHamburguer {
    display: block;
  }
}

.nav .navContainer .navContainer--menuHamburguer .menuHamburguer {
  font-size: 2rem;
}

.nav .menuDropdown {
  display: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.2);
}

.nav .menuDropdown li {
  border: none;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem 0.5rem 2.5rem;
  background-color: #fff;
}

.nav .menuDropdown li + li {
  border-top: 1px solid #e8e8e8;
}

@media (max-width: 768px) {
  .nav .navTablet {
    width: 85%;
  }
}

.navSombra {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #fff;
  padding-top: 7.625rem;
  z-index: -2;
  position: relative;
}

.header .containerDestaque {
  width: 70%;
  padding-top: 4rem;
}

@media (max-width: 768px) {
  .header .containerDestaque {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header .containerDestaque .tituloDestaque {
    font-size: 2rem;
    color: #5a287f;
    font-weight: normal;
    margin: 0;
  }
}

.bgMain {
  height: 25rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .bgMain img {
    height: 16rem;
  }
}

.container--flex {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10rem;
  z-index: 8;
  position: relative;
}

@media (max-width: 768px) {
  .container--flex {
    margin-top: -12rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 420px) {
  .container--flex {
    margin-top: -16rem;
  }
}

.container--flex .cardMain {
  width: 45%;
  min-height: 28rem;
  background-color: #fff;
  padding: 2.8rem 1.8rem;
  border-radius: 4px;
  -webkit-box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.16);
  z-index: -2;
}

@media (max-width: 1024px) {
  .container--flex .cardMain {
    min-height: 32rem;
  }
}

@media (max-width: 768px) {
  .container--flex .cardMain {
    width: 100%;
    min-height: 22rem;
    margin-bottom: 2rem;
  }
}

.container--flex .cardMain h2 {
  margin: 0;
}

.container--flex .cardMain p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.container--flex .cardMain p .span--bold {
  font-weight: bold;
}

.cenario {
  background-color: #5a287f;
  text-align: center;
}

.cenario .cenarioImg {
  background-image: url(../img/eye-for-ebony-415494-unsplash.jpg);
  background-position-y: -160px;
  background-repeat: no-repeat;
  height: 500px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-size: cover;
}

@media (max-width: 768px) {
  .cenario .cenarioImg {
    height: 20rem;
    background-position: center;
  }
}

.cenario .cenarioTitulo {
  color: #fff;
}

.cenario .cenarioTitulo .marcaTextoCenario {
  background-color: #ad94bf;
  opacity: .5;
  z-index: 1;
}

.cenario .cenarioDescricao {
  color: #fff;
  font-size: 1.25rem;
  font-weight: lighter;
}

.cenario .cenarioDescricao p {
  margin: 1.875rem 0;
}

.cenario .cenarioDescricao p span {
  font-weight: 400;
}

.cenario .cenarioCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.875rem;
}

@media (max-width: 768px) {
  .cenario .cenarioCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 420px) {
  .cenario .cenarioCards {
    padding-top: 2rem;
  }
}

.cenario .cenarioCards .card {
  width: 30%;
  min-height: 15.0625rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 4px;
  -webkit-box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.16);
  position: relative;
}

@media (max-width: 1024px) {
  .cenario .cenarioCards .card {
    min-height: 18rem;
  }
}

@media (max-width: 768px) {
  .cenario .cenarioCards .card {
    width: 50%;
    min-height: 14.8rem;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 420px) {
  .cenario .cenarioCards .card {
    width: 90%;
    min-height: 17rem;
  }
}

.cenario .cenarioCards .card .cardTexto h3 {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.cenario .cenarioCards .card .cardTexto p {
  font-size: 1rem;
  margin: 0.3125rem;
}

.cenario .cenarioCards .card .cardTexto .cardFonte {
  font-weight: lighter;
  text-align: right;
  font-size: 0.88rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.noticiasTitulo {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 420px) {
  .noticiasTitulo {
    margin-top: 2rem;
  }
}

.noticiasDivMae {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.125rem;
}

@media (max-width: 768px) {
  .noticiasDivMae {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.noticiasDivMae .noticiasNoticia1 {
  background-image: url(../img/noticia1.jpg);
}

.noticiasDivMae .noticiasNoticia2 {
  background-image: url(../img/noticia2.jpg);
}

.noticiasDivMae .noticiasNoticia1, .noticiasDivMae .noticiasNoticia2 {
  height: 22.86rem;
  width: 49%;
  opacity: 0.7;
  position: relative;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .noticiasDivMae .noticiasNoticia1, .noticiasDivMae .noticiasNoticia2 {
    width: 100%;
    margin-bottom: 1.43rem;
  }
}

.noticiasDivMae .noticiasNoticia1:hover, .noticiasDivMae .noticiasNoticia2:hover {
  opacity: 0.9;
  -webkit-transition: 1s opacity ease;
  transition: 1s opacity ease;
}

.noticiasDivMae .noticiaChamada {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  color: #fff;
  padding-right: 0.86rem;
}

.noticiasDivMae .noticiaChamada .noticiaTitulo {
  display: inline-block;
  width: 90%;
  font-weight: 500;
}

.noticiasDivMae .noticiaChamada .noticiaSubtitulo {
  margin-top: 0;
  font-style: italic;
  font-weight: 500;
}

.noticiaBtnMae {
  text-align: right;
}

@media (max-width: 768px) {
  .noticiaBtnMae {
    text-align: center;
  }
}

.noticiaBtnMae .noticiasBtn {
  margin-top: 1.875rem;
}

.footerBg {
  background-image: url(../img/bg-contato.jpg);
  background-size: contain;
  position: relative;
  text-align: center;
}

.footerBg .footerTitulo {
  display: inline-block;
  width: 100%;
  z-index: 1;
}

@media (max-width: 420px) {
  .footerBg .footerTitulo {
    margin-top: 2rem;
  }
}

.footerBg .footerTitulo .spanMarcaTexto {
  z-index: 2;
}

.footerBg .footerBox {
  margin: 0 auto;
  margin-top: 3.125rem;
  border-radius: 4px;
  width: 55%;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.16);
  padding: 4rem 0;
}

@media (max-width: 1024px) {
  .footerBg .footerBox {
    width: 55%;
  }
}

@media (max-width: 720px) {
  .footerBg .footerBox {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .footerBg .footerBox {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .footerBg .footerBox {
    width: 90%;
  }
}

.footerBg .footerBox .footerBox--conteudo {
  width: 60%;
  margin: auto;
}

@media (max-width: 1024px) {
  .footerBg .footerBox .footerBox--conteudo {
    width: 72%;
  }
}

@media (max-width: 720px) {
  .footerBg .footerBox .footerBox--conteudo {
    width: 75%;
  }
}

@media (max-width: 420px) {
  .footerBg .footerBox .footerBox--conteudo {
    width: 80%;
  }
}

.footerBg .footerBox .footerBox--conteudo .footerH3 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 0;
}

@media (max-width: 1024px) {
  .footerBg .footerBox .footerBox--conteudo .footerH3 {
    margin: 0;
  }
}

.footerBg .footerBox .footerBox--conteudo .footerRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.footerBg .footerBox .footerBox--conteudo .footerRedes li {
  font-size: 2.5rem;
}

@media (max-width: 420px) {
  .footerBg .footerBox .footerBox--conteudo .footerRedes li {
    font-size: 2.1875rem;
  }
}

.footerBg .footerBox .footerBox--conteudo .footerRedes li a {
  cursor: pointer;
}

.footerCopyright {
  padding: 0.25rem;
.containerNoticia > img {
  width: 100%;
  height: 28.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.containerTitulo {
  font-family: "Noticia Text", serif;
  font-size: 1.25rem;
  color: #5a287f;
  font-weight: lighter;
  text-align: center;
  margin: 4%;
  width: 35%;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.cardMain {
  width: 30%;
  height: 400px;
  padding: -0.2rem 1.8rem 5rem 1.8rem;
  border-radius: 4px #5a287f;
  -webkit-box-shadow: 0 2px 3px 0 #e8e8e8;
          box-shadow: 0 2px 3px 0 #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardMain:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.cardMain > p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.cardMain > img {
  margin-top: 5%;
  max-width: 90%;
  height: 285px;
}

.bntCards {
  margin: 1.5rem 2.6875rem;
}

.containerDiv--projetos {
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 16px;
  background-color: #ad94bf;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 5.925rem;
  z-index: -1;
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

li {
  margin: 0 0 10px 0;
}

li :hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-weight: bold;
  color: #373a3c;
}

.footerCopyright {
  padding: 4px;
  background-color: #5a287f;
  color: #fff;
  font-size: 0.88rem;
  font-weight: lighter;
  text-align: center;
}

@media (max-width: 420px) {
  .footerCopyright {
    font-size: 0.7rem;
  }
}

.footerCopyright .copyrightSpan {
    font-size: 0.70rem;
  }
}

.copyrightSpan {
  color: #ad94bf;
}
/*# sourceMappingURL=style.css.map */