.botao {
  font-family: "Noticia Text", serif;
  border: 1px solid #5a287f;
  border-radius: 0.25rem;
  padding: 0.7rem 1rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 1rem;
  color: #5a287f;
  position: relative;
  -webkit-transition: 1s -webkit-transform ease;
  transition: 1s -webkit-transform ease;
  transition: 1s transform ease;
  transition: 1s transform ease, 1s -webkit-transform ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0.09375rem 0.125rem 0.125rem 0.09375rem rgba(0, 0, 0, 0.16);
          box-shadow: 0.09375rem 0.125rem 0.125rem 0.09375rem rgba(0, 0, 0, 0.16);
}

@media (max-width: 1024px) {
  .botao {
    border-radius: 0.1828rem;
    padding: 0.512rem 0.7314rem;
    font-size: 1rem;
    font-weight: lighter;
  }
}

@media (max-width: 768px) {
  .botao {
    border-radius: 0.1875rem;
    padding: 0.525rem 0.75rem;
    font-size: 1rem;
    font-weight: lighter;
  }
}

@media (max-width: 420px) {
  .botao {
    border-radius: 0.1025rem;
    padding: 0.2871rem 0.41rem;
    font-size: 1rem;
    font-weight: lighter;
  }
}

.botao:focus {
  outline: none;
}

.botao:hover {
  background-color: #ad94bf;
  color: #fff;
}

.botao:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0.8px 1px 1px 0.8px rgba(0, 0, 0, 0.16);
          box-shadow: 0.8px 1px 1px 0.8px rgba(0, 0, 0, 0.16);
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #5a287f;
}

.spanMarcaTexto {
  position: relative;
}

.marcaTexto {
  width: 100%;
  display: inline-block;
  background-color: #fff240;
  height: 0.75rem;
  position: absolute;
  z-index: -1;
  bottom: -0.25rem;
}

.marcaTexto--roxo {
  width: 100%;
  display: inline-block;
  background-color: #5a287f;
  opacity: 0.15;
  height: 0.75rem;
  position: absolute;
  z-index: 1;
  bottom: -0.25rem;
}

.tituloDestaque {
  font-size: 2.5rem;
  color: #5a287f;
  font-weight: lighter;
}

.titulo {
  font-size: 2rem;
  color: #5a287f;
  font-weight: lighter;
}

.tituloSecundario {
  font-size: 1.75rem;
  color: #5a287f;
  font-weight: lighter;
}

.tituloCard {
  font-size: 1.25rem;
  color: #5a287f;
  font-weight: lighter;
}

.tituloNoticia {
  font-family: "Noticia Text", serif;
  font-size: 1.25rem;
  color: #5a287f;
  font-weight: lighter;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 420px) {
  .container {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.containerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 87.5rem;
  width: 100%;
}

@media (max-width: 1024px) {
  .containerSection {
    max-width: 64rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .containerSection {
    max-width: 48rem;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .containerSection {
    max-width: 26.25rem;
    width: 100%;
  }
}

.containerImagem {
  max-width: 87.5rem;
  width: 100%;
  height: 31.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

@media (max-width: 1024px) {
  .containerImagem {
    max-width: 64rem;
  }
}

@media (max-width: 768px) {
  .containerImagem {
    max-width: 48rem;
  }
}

@media (max-width: 420px) {
  .containerImagem {
    max-width: 26.25rem;
  }
}

.containerDiv--card {
  width: 34.625rem;
  height: 24.25rem;
  opacity: 0.87;
  border: solid 1px #f2f2f2;
  background-color: #ffffff;
  margin: 3.4375rem 8.0625rem 3.8125rem 44.8125rem;
}

@media (max-width: 1024px) {
  .containerDiv--card {
    width: 25.3257rem;
    height: 17.7371rem;
    margin: 3.4375rem 8.0625rem 3.8125rem 32.7771rem;
  }
}

@media (max-width: 768px) {
  .containerDiv--card {
    width: 25.968rem;
    height: 18.1875rem;
    margin: 3.4375rem 8.0625rem 3.8125rem 24.179rem;
  }
}

@media (max-width: 420px) {
  .containerDiv--card {
    width: 14.20125rem;
    height: 9.9462rem;
    margin: 3.4375rem 8.0625rem 3.8125rem 13.2228rem;
  }
}

.titulo {
  margin: 2.6875rem 2.875rem 2.75rem 2.875rem;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .titulo {
    margin: 1.9657rem 2.875rem 1rem 2.875rem;
    font-size: 1.75rem;
    color: #5a287f;
    font-weight: lighter;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .titulo {
    margin: 2rem 2.875rem 1rem 2.875rem;
    font-size: 1.75rem;
    color: #5a287f;
    font-weight: lighter;
    font-weight: bold;
  }
}

@media (max-width: 420px) {
  .titulo {
    margin: 1.09375rem 2.875rem 1rem 2.875rem;
    font-size: 1.75rem;
    color: #5a287f;
    font-weight: lighter;
    font-weight: bold;
  }
}

.conteudo {
  margin: 0 2.875rem;
  height: 9.5rem;
  width: 28.875rem;
  font-size: 1.25rem;
  font-weight: lighter;
}

@media (max-width: 1024px) {
  .conteudo {
    height: 6.9485rem;
    width: 21.12rem;
    font-size: 1rem;
    font-weight: lighter;
  }
}

@media (max-width: 768px) {
  .conteudo {
    height: 6.9485rem;
    width: 21.12rem;
    font-size: 1rem;
    font-weight: lighter;
  }
}

@media (max-width: 420px) {
  .conteudo {
    height: 6.9485rem;
    width: 21.12rem;
    font-size: 1rem;
    font-weight: lighter;
  }
}

.botao {
  margin: 1.5rem 2.6875rem;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
}

@media (max-width: 768px) {
  .container {
    width: 60%;
    margin-top: 6rem;
  }
}

@media (max-width: 420px) {
  .container {
    width: 32.8125%;
    margin-top: 6rem;
  }
}

.containerDiv--projetos {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 1.925rem;
  z-index: -1;
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.containerDiv--projetos:hover {
  color: red !important;
}

@media (max-width: 1024px) {
  .containerDiv--projetos {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .containerDiv--projetos {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .containerDiv--projetos {
    width: 80%;
  }
}

.containerDiv--projetos:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.conteudoSecundario {
  margin: 1.5rem 5.125rem 3.2rem 1.9375rem;
  height: 7.8125rem;
  width: 45rem;
  font-size: 1.25rem;
  font-weight: lighter;
  display: none;
  color: #5a287f;
  z-index: -1;
}

.conteudoSecundario .conteudoSecundario:hover {
  color: #5a287f;
  z-index: 1;
}

@media (max-width: 1024px) {
  .conteudoSecundario {
    margin: 1.09714rem 5.125rem 2.3405rem 1.9375rem;
    width: 32.9142rem;
    font-size: 1rem;
    font-weight: lighter;
  }
}

@media (max-width: 768px) {
  .conteudoSecundario {
    width: 20rem;
  }
}

@media (max-width: 420px) {
  .conteudoSecundario {
    width: 13.5rem;
  }
}

#paragrafoAdvocacy {
  display: block;
}

.tituloSecundario {
  margin-left: 1.9375rem;
  margin-top: auto;
  margin-bottom: 0.625rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .tituloSecundario {
    font-size: 1.25rem;
    color: #5a287f;
    font-weight: lighter;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .tituloSecundario {
    font-size: 1.25rem;
    color: #5a287f;
    font-weight: lighter;
    font-weight: bold;
  }
}

@media (max-width: 420px) {
  .tituloSecundario {
    font-size: 1.25rem;
    color: #5a287f;
    font-weight: lighter;
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */