// o que vai no body
// classes que serão repetidas tipo container

* {
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: $font-padrao;
    font-size: $font-size-padrao;
    color: $cor-primaria;
}

.spanMarcaTexto{
    position: relative;
}
.marcaTexto{
    width: 100%;
    display: inline-block;
    background-color: $sublinhado;
    height: 0.75rem;
    position: absolute;
    z-index: -1;
    bottom: 0.25rem;
}

.tituloDestaque{
    @include titulo($font-size-destaque);

    @media (max-width: $tablet-hor){
        font-size: $font-size-titulo;
    }
}//titulo header

.titulo{
    @include titulo($font-size-titulo)
}//demais titulos, excetos os cards

.tituloCard{
    @include titulo($font-size-subtitulo)
}

.tituloNoticia{
    font-family: $font-secundaria;
    @include titulo($font-size-subtitulo)
}

li{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 80%;
    margin: 0 auto;
    
    
    @media (max-width: $mobile) {
        width: 90%;
        flex-wrap: wrap;       
    }
}






