//não possuí parâmetros
//como puxar:
// @extend %nome-do-elemento;


%botao{
    font-family: $font-secundaria;
    border: 1px solid $cor-primaria;
    border-radius: 0.25rem;
    padding: 0.7rem 1rem;
    background-color: $cor-terciaria;
    cursor: pointer;
    font-size: $font-size-texto;
    color: $cor-primaria;
    position: relative;
    transition: 1s transform ease;
    transform: scale(1);
    box-shadow: 0.09375rem 0.125rem 0.125rem 0.09375rem rgba(0, 0, 0, 0.16);

    // 1024px
    @media(max-width:$tablet-hor){
        border-radius: 0.1828rem;
        padding: 0.512rem 0.7314rem;
        font-size: $font-size-texto;
        font-weight: lighter;
    }
    
    // 768px
    @media(max-width:$tablet-ver){
        border-radius: 0.1875rem;
        padding: 0.525rem 0.75rem;
        font-size: $font-size-texto;
        font-weight: lighter;
    }

    // 420px
    @media(max-width:$mobile){
        border-radius: 0.1025rem;
        padding: 0.2871rem 0.41rem;
        font-size: $font-size-texto;
        font-weight: lighter;
    }
}

%botao:focus{
    outline: none;
}

%botao:hover{
    background-color: $borda-card;
    color:$bg-primario;
}

%botao:active{
    transform: scale(0.9);
    box-shadow: 0.8px 1px 1px 0.8px rgba(0, 0, 0, 0.16);
}


