.footerBg{
    background-image: url(../img/fotos/bg-contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 238px;
}

.footerTitulo{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 59px;
    z-index: 1;

}
.spanMarcaTexto{
    z-index: 2;
}

.footerBox--conteudo{
    width: 50%;
    margin: auto;    
}


.footerRedes{
    @include flex(center,space-evenly);
}

.footerBox{
    margin: 0 auto;
    width: 55%;
    background-color: $branco;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.16);
    padding: 40px 0;
}

.footerH3{
    font-size: 1.60rem;
    font-weight: normal;
    margin: 0 0 34px 0;
}

.footerRedes{
    padding: 0;
    margin: 0;
}

.footerRedes li{
    font-size: 40px;
    margin-bottom: 0;
}

.footerRedes a{
    cursor: pointer;
}

.footerCopyright{
    padding: 4px;
    background-color: $cor-primaria;
    color: $cor-terciaria;
    font-size: $font-size-footer;
    font-weight: lighter;
    text-align: center;
}

// RESPONSIVOS

@media(max-width: $tablet-hor){
    .footerBox--conteudo{
        width: 70%;
    }

    .footerRedes{
        justify-content: space-around;
    }

    .footerH3{
        margin: 0;
    }

    .footerBg{
        padding-bottom: 135px;
    }
}

@media(max-width: 715px){
    .footerBox{
        width: 65%;
    }
}

@media(max-width: $mobile){
    .footerCopyright{
        font-size: 0.70rem;
    }

    .footerBox{
        width: 90%;
        text-align: center;
    }

    .footerBg{
        padding-bottom: 50px;
    }

    .footerTitulo{
        margin: 20px 0;
    }
}
