.header {
    background-color: $bg-primario;
    padding-top: 7.625rem; //altura nav
    z-index: -2;
    position: relative;
}

.containerDestaque {
    width: 70%;
    padding-top: 4rem;
    @media (max-width: $tablet-ver){
        width: 100%;
    }
}

.spanMarcaTextoHeader {
    @media (max-width: $tablet-hor) {
    font-weight: bold;
    }
}

.marcaTextoHeader {
    @media (max-width: $tablet-hor) {
        display: none;
    }
}

.tituloDestaque {
@media (max-width: $tablet-ver){
<<<<<<< HEAD
    @include tituloMobile($font-size-titulo);
}
}
=======
    .containerDestaque {
        width: 100%;
    }

    .tituloDestaque {
        @include tituloMobile($font-size-titulo);
    }
}
>>>>>>> cb01ab9... [2305] atualização header para develop
