//flex, button, title, span;
// como puxar:
// @include nome-do-elemento(parametro)

<<<<<<< HEAD


=======
>>>>>>> 1aee8db5820dd6a878fc1f41c34302b8122bcc4c
@mixin flex($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin titulo($tamanho){
    font-size: $tamanho;
    color: $cor-primaria;
    font-weight: lighter;
    margin: 0;
}


@mixin tituloMobile($tamanho){
    font-size: $tamanho;
    color: $cor-primaria;
    font-weight: normal;
    margin: 0;
}

