.noticiasTitulo{
    text-align: center;
    width: 100%;
    margin-top: 1rem;

    @media (max-width: $mobile){
        margin-top: 2rem;
    }
}

.noticiasDivMae{
    @include flex(center, space-between);
    padding-top: 3.125rem;

    @media (max-width: $tablet-ver) {
        flex-direction: column;
    }
}


.noticiasNoticia1, .noticiasNoticia2 {
    height: 22.86rem;
    width: 49%;
    opacity: 0.7;
    position: relative;
    background-size: cover;

    .noticiasNoticia1{
        background-image: url(../img/noticia1.jpg);
    }
    
    .noticiasNoticia2{
        background-image: url(../img/noticia2.jpg);
    }

    .noticiasNoticia1, .noticiasNoticia2 {
        height: 22.86rem;
        width: 49%;
        opacity: 0.7;
        position: relative;
        background-size: cover;
        background-position: center;
        
        @media (max-width: $tablet-ver) {
            width: 100%;
            margin-bottom: 1.43rem;
        }
    }
    
    .noticiasNoticia1:hover, .noticiasNoticia2:hover {
        opacity: 0.9;
        transition: 1s opacity ease;
    }

    .noticiaChamada{
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        text-align: right;
        color: $cor-terciaria;
        padding-right: 0.86rem;

        .noticiaTitulo{
            display: inline-block;
            width: 90%;
            font-weight: 500;
        }
        
        .noticiaSubtitulo{
            margin-top: 0;
            font-style: italic;
            font-weight: 500;
        }
    }
}

.noticiaBtnMae{
    text-align: right;

    @media (max-width: $tablet-ver) {
        text-align: center;
    }

    .noticiasBtn{
        @extend %botao;
        margin-top: 1.875rem;
    }
}








