.bgMain{
    height: 25rem;
    overflow: hidden;

    img{
        @media (max-width: $tablet-ver) {
            height: 16rem;
        }
    }
}

.container--flex{
    width: 80%;
    @include flex(flex-start, space-between);
    margin-top: -10rem;
    z-index: 8;
    position: relative;
    
    @media (max-width: $tablet-ver){
        margin-top: -16rem;
        flex-direction: column;
    }

    .cardMain{    
        width: 45%;
        min-height: 28rem;
        background-color: $branco;
        padding: 2.8rem 1.8rem;
        border-radius: 4px;
        box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.16);
        z-index: -2;

        @media (max-width: $tablet-hor){
            min-height: 32rem;
        }
        @media (max-width: $tablet-ver){
            width: 100%;
            min-height: 22rem;
            margin-bottom: 2rem;
        }

        h2{
            margin: 0;
        }
        
        p{
            font-size: 1.25rem;
            line-height: 1.5;

            .span--bold{
                font-weight:bold;
            }
        }
    }
}
