//cores, tamanhos, breakpoints, fontes

//CORES
$amarelo: #fff240;
$branco: #fff;
$cinza-claro: #e8e8e8;
$cinza-grafite: #373a3c; 
$roxo-primario: #5a287f;
$roxo-secundario: #845e9f;
$roxo-terciario: #ad94bf;

$cor-primaria: $roxo-primario; //paragrafos, titulos, botões
$cor-secundaria:$cinza-grafite; //subtitulo destaque
$cor-terciaria: $branco; //footer
$cor-link: $roxo-secundario; //somente links
$bg-primario: $branco; //fundo dos botões e bg da página
$bg-secundario: $roxo-primario; //usado somente no footer
$sublinhado: $amarelo; //
$borda-card: $roxo-terciario; //borda dos cards
$icone: $roxo-secundario; 
$divisoria: $cinza-claro; //dividir os cards das seções -- o que fazemos --;

//TAMANHOS
$font-size-padrao: 16px;

$font-size-subtitulo: 1.25rem;//titulo card
$font-size-titulo: 2rem; //titulos
$font-size-destaque: 2.5rem; //destaque header
$font-size-texto: 1rem; //botao, link, menu nav, card
$font-size-footer: 0.88rem; //footer

//FONTES
$font-padrao: 'Roboto', sans-serif;
$font-secundaria: 'Noticia Text', serif; //botao e chamada de noticia

//BREAKPOINTS
$mobile: 420px;
$tablet-ver: 768px;
$tablet-hor: 1024px;



